.App {
    width: 80%;
    height: 72vh;
    margin: 100px auto;
    border: 1px #a7a7a7 dashed;
    display: flex;
    flex-flow: column nowrap;
}

.navs {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}
.navs > a {
    font-size: 24px;
    line-height: 64px;
    flex: 1;
    text-align: center;
    color: #1890ff;
}

.navs > a:active {
    color: #d9363e;
}
.view {
    flex: 1;
}
h1 {
    margin-top: 120px;
    text-align: center;
}
